.AppBar {
    box-shadow: none;
    background-color:  var(--color-background);
    flex-grow: 1;
    white-space: nowrap;
  }
  
  .HeaderContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
  }
  
  .HeaderLeftContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .HeaderIcon {
    color: var(--color-primary);
    margin-top: 4px;
    margin-right: 5px;
  }

  .HeaderTitle {
    margin: 0;
    font-size: 24px; 
  }

  @media (max-width: 768px) {
    .HeaderTitle {
      font-size: 20px; 
    }
  }
  